a {
    text-decoration: none;
    color: rgba(26,44,53,255);
    font-size: 20px;
    border-radius: 0 !important;
}

.mdc-list-item:focus::before {
    opacity: 0 !important;
}

.active-list-item {
    color: rgba(26,44,53,255);
    font-weight: bold;
}

mat-nav-list {
    min-width: 200px;
}

.user-display-name-sidenav {
    padding-left: 16px; /* Igazítás a többi menüponthoz */
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.9em;
    color: rgba(0,0,0,.7); /* Hasonló, mint a matListItemTitle */
    display: flex;
    align-items: center;
  }
  .user-display-name-sidenav mat-icon {
    margin-right: 16px; /* Térköz az ikon és a név között */
  }