<mat-nav-list>
  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="/game" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>videogame_asset</mat-icon>
    <span matListItemTitle>Game</span>
  </a>
  <a mat-list-item routerLink="/leaderboard" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>leaderboard</mat-icon>
    <span matListItemTitle>Leaderboard</span>
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Profile</span>
  </a>
  <a mat-list-item routerLink="/results" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>show_chart</mat-icon>
    <span matListItemTitle>Results</span>
  </a>
</mat-nav-list>