<!-- <router-outlet /> -->
<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu [sidenav]="sidenav"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <div class="logo-container">
            <a routerLink="/home">
              <img src="icon.png" alt="Logo" class="logo" />
            </a>
          </div>
        <button 
          mat-button 
          (click)="onToggleSidenav(sidenav)"
          class="menu-toggle-button">
          <mat-icon>menu</mat-icon>
        </button>
        
        <nav>
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/game">Game</a></li>
            <li><a routerLink="/leaderboard">Leaderboard</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/results">Results</a></li>
          </ul>
        </nav>
      </mat-toolbar>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>