.results-card {
    margin: 20px;
    background-color: rgba(26,44,53,255);
  }
  
  .average {
    margin-top: 16px;
    font-size: 1.2em;
    text-align: center;
  }

mat-table {
    background-color: rgba(26,44,53,255);
}

mat-header-cell {
  font-weight: bold;
  justify-content: center;
}

  